@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: url(asset/final.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: auto;
  font-family: 'Poppins';
  letter-spacing: 1px;
}